body {
    background-color: rgb(219, 22, 147);
    font-family: 'Fjalla One', sans-serif;
}
button {
    height: 45px;
    width: 95px;
    border-radius: 10px;
    border-style: inset;
    border-color: blue;
    border-width: 3px;
    margin-right: 5%;
    margin-left: 5%;
    font-family: 'Fjalla One', sans-serif;
}
h1 {
    font-size: 55px;
}
header {
    font-size: 55px;
    background-color: rgb(9, 244, 236);

}
#michaelscott {
    border-radius: 10px;
    height: 50%;
    width: 50%;
}
#quoteentry {
    height: 55px;
    width: 350px;
    border-radius: 10px;
    border-color: black;
    margin-top: 10px;
    margin-bottom: 15px;
}
